<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bolsonaro</title>
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body id="body">

    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
            <div class="contact-info float-left">
            </div>
            <div class="social-links float-right">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </section>

    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="#body"><img src="img/logo.jpg" alt="" title="" width="70" height="60" /></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#body">Início</a></li>
                    <li><a href="#intro">Sobre</a></li>
                    <li><a href="#tabelagrafico">Tabelas/Gráficos</a></li>
                    <li><a href="#footer">Rodapé</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <section id="intro">

        <div class="intro-content">
            <h2>Jair  <span>Messias</span><br>Bolsonaro</h2>
            <div>
                <a href="#tabelagrafico" class="btn-get-started scrollto">Tabelas/Gráficos</a>
                <a href="#footer" class="btn-projects scrollto">Rodapé</a>
            </div>
        </div>

        <div id="intro-carousel" class="owl-carousel">
            <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>

        </div>
    </section>

    <main id="main">

        <section id="tabelagrafico" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 about-img">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>CANDIDATO</th>
                                    <th>%</th>
                                    <th>PARTIDO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>BOLSONARO</td>
                                    <td>75%</td>
                                    <td>PSL</td>
                                </tr>
                                <tr>
                                    <td>Marina Silva</td>
                                    <td>16%</td>
                                    <td>Rede</td>
                                </tr>
                                <tr>
                                    <td>Geraldo Alckmin</td>
                                    <td>9%</td>
                                    <td>PSDB</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-lg-6 content">
                        <img src="img/grafico.png" alt="" title="" width="470" height="260" />

                    </div>
                </div>

            </div>
        </section>

    </main>

    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Lucas <strong>Aragão</strong>. Todos os direitos reservados para o meu <strong>RA</strong>
            </div>
            <div class="credits">
                Feito por <a href="#">Lucas</a>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="lib/sticky/sticky.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
